.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-table {
  background-color:#ed1c94 !important;
  color: white !important;
  overflow-y: auto !important;
  max-height: 15em !important;
}
.tb-cell {
  color: white !important;
  font-family: "Helvetica" !important;
  font-weight: 500 !important;
  text-align: center !important;
  font-size: large !important;
}
.title-cell {
  font-weight: 600 !important;
  background-color: #981df0 !important;
}
.main-card {
  max-width: 50em !important;
}
.card-bottom {  
  background-color: #981df0 !important;
  justify-content: center !important;
}
.bottom-font{
  color: white !important;
  font-family: "Helvetica" !important;
  font-weight: 400 !important;
  text-align: center !important;
  font-size: 0.9em !important;
}